.LanguageItem {
    width: 45px;
    height: 20px;
    margin: 5px;
    border: 1px solid #003D31;
    background-color: #699C92;
    border-radius: 4px;
    font-size: 0.6rem;
    line-height: 1.2rem;
    cursor: pointer;
    transition: 0.25s;
}
.Active {
    border: 1px solid #603D00;
    background-color: #855D16;
    color: white;
    /* box-shadow: 0px 0px 3px 3px #F4D7A455; */
    transition: 0.25s;
}