.Centered {
    text-align: center;
    margin: 0 auto;
}
.exampleText {
    margin: 20px 0 10px;
    font-size: 0.8em;
    font-style: italic;
}
.question {
    margin: 10px 0;
    font-size: 1.2em;
}
.answer {
    display: block;
    margin: 10px auto;
    width: 300px;
    max-width: 60%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #44bbaa;
    box-shadow: none;
    text-align: center;
    font-size: 1em;
}
.buttonConfirm {
    display: block;
    margin: 10px auto;
    width: 300px;
    max-width: 60%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #60c3d6;
    background-color: #74e0f5;
    box-shadow: none;
    font-size: 1em;
}