.Selector {
    width: 100%;
    height: 500px;
    display: flex;
}
.Selector>div {
    width: 40%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.Selector p {
    font-size: 25px;
    color: #40b59b;
    padding-left: 15px;
    margin: 0 0 5px 0;
}